<!DOCTYPE html>
<html>
    {{> header}}
    <body>
        {{> headerbody}}
        <p>{{screamIt welcome}}</p>
        <p>
        <img src="{{picture}}" width="640">
        </p>
        {{> footer}}
    </body>
</html>
